{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form action="/cost/new" method="post">{% csrf_token %}
	<div class="container-fluid">
		<legend>Header Section</legend>
			<fieldset>
					<dl>
						<dt><label for="id_date">Date</label></dt>
						<dd>{{ form.date|attr:"id:datepicker"|attr:"class: input-small"  }}</dd>
					</dl>
					<dl>
						<dt><label for="id_agent">Agent</label></dt>
						<dd>{{ form.agent|attr:"class: input-small" }}</dd>
					</dl>
				</fieldset>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="span2"><label for="id_currency">Currency</label></div>
					<div class="span2">{{ form.currency|attr:"class:form-control input-small"  }}</div>
					<div class="span2"><label for="id_exchange_rate">Exchange Rate</label></div>
					<div class="span2">{{ form.exchange_rate|attr:"class:form-control input-small" }}</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="span2"><label for="id_esitmated">Estimated?</label></div>
					<div class="span2">{{ form.estimated|attr:"class:form-control input-small"  }}</div>
					<div class="span2"><label for="id_service_point">Service Point</label></div>
					<div class="span2">{{ form.service_point|attr:"class:form-control input-small"  }}</div>
				</div>
			</div>
		</div>
	</div>
			<label for="id_af_cost">Air Freight</label>
	<div>{{ form.airline }}</div>       
	<div>{{ form.o_airport }}</div>     
	<div>{{ form.d_airport }}</div>     
	<div>{{ form.af_cost }}</div>       
	<div>{{ form.af_cost_lcl }}</div>   
	<div>{{ form.af_fee }}</div>        
	<div>{{ form.af_fee_lcl }}</div>    
	<div>{{ form.ap_fee_customs }}</div>
	<div>{{ form.ap_fee_lcl }}</div>    
	<div>{{ form.ap_cust_notes }}</div>

	<div>{{ form.transportation }}</div>
	<div>{{ form.trans_lcl }}</div>
	<div>{{ form.trans_notes }}</div>
	<div>{{ form.travel_kennel }}</div>
	<div>{{ form.tk_lcl }}</div>
	<div>{{ form.tk_notes }}</div>
	<div>{{ form.vaccination }}</div>
	<div>{{ form.vcn_lcl }}</div>
	<div>{{ form.vcn_notes }}</div>
	<div>{{ form.parasite }}</div>
	<div>{{ form.para_lcl }}</div>
	<div>{{ form.para_notes }}</div>
	<div>{{ form.health_cert }}</div>
	<div>{{ form.hc_lcl }}</div>
	<div>{{ form.hc_notes }}</div>
	<div>{{ form.hc_2 }}</div>
	<div>{{ form.hc_2_lcl }}</div>
	<div>{{ form.hc_2_notes }}</div>
	<div>{{ form.gov_endorse }}</div>
	<div>{{ form.gov_end_lcl }}</div>
	<div>{{ form.gov_end_notes }}</div>
	<div>{{ form.postage }}</div>
	<div>{{ form.post_lcl }}</div>
	<div>{{ form.post_notes }}</div>
	<div>{{ form.gov_permit }}</div>
	<div>{{ form.gov_perm_lcl }}</div>
	<div>{{ form.gov_perm_notes }}</div>
	<div>{{ form.quarantine }}</div>
	<div>{{ form.q_lcl }}</div>
	<div>{{ form.q_notes }}</div>
	<div>{{ form.boarding }}</div>
	<div>{{ form.board_lcl }}</div>
	<div>{{ form.board_notes }}</div>
	<div>{{ form.other_name }}</div>
	<div>{{ form.other_cost }}</div>
	<div>{{ form.other_lcl }}</div>
	<div>{{ form.other_notes }}</div>
	<div>{{ form.total_cost }}</div>
	<div>{{ form.total_lcl }}</div>
	<div>{{ form.notes }}</div>
	<div>Item</div>
	<div>USD Cost</div>
	<div>Local Cost</div>
	</fieldset>
</form>
{% endblock %}